* {
    font-family: Arial, sans-serif;
    color: #545454;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper.homepage {
    justify-content: center;
}

.mainsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_container {
    width: 300px;
    text-align: center;
}

.image_container img {
    width: 100%;
}

.search_container {
    width: 100%;
}

.search_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_box {
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    height: 45px;
    padding: 10px;
    width: 70%;
    max-width: 630px;
    outline: none;
    font-size: 16px;
    color: #000;
}

.search_btn {
    background-color: #f5f5f5;
    color: #757575;
    border: none;
    height: 40px;
    width: 130px;
    border-radius: 1px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.headercontent{
    display: flex;
    align-content: center;
}

.headercontent .image_container{
    width: 130px;
    padding: 5px 20px;
}

.textbox_container{
    flex : 1;
}

.textbox_container .search_box{
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
}

.search_textbox{
    flex: 1;
    outline: none;
    border: none;
}

.search_textbtn{
    background-color: #fff;
    border: none;
    display: flex;
    align-items: center;
}

.search_textbtn img{
    width: 25px;
}

.headerSection{
    border-bottom: 2px solid #ebebeb;
}

.headerlist{
    margin-left: 160px;
}

.tablist{
    padding: 0;
    margin: 0;
}

.tablist li{
    display: inline-block;
    color: #777;
    font-size: 15px;
    padding: 0 15px 10px 16px;
}

.tablist li a{
    text-decoration: none;
}

.active{
    border-bottom: 3px solid #1A73E8;
}

.active a{
    font-weight: bold;
    color :#1A73E8
}